{{#each songs as |song|}}


  <div class="show-data" data-id="{{song.id}}">
    <h2 class="show-title">{{song.title}}</h2>

    <h4 class="show-artist">by: {{song.artist}}</h4>

    <h5 class="show-id">Use song ID# {{id}} to add to your favorites</h5>

    <form id="create-favorite">
      <input type="submit" name="Add To Favorites" value="Add To Favorites" class="dropbtn">
      <input type="text" name="favorite[song_id]" value="{{song.id}}" id="song-id" placeholder="Song-ID" style="display: none">
    </form>

    </div>

{{/each}}
